<ion-content class="ion-no-margin ion-no-padding fullscreen-content" [fullscreen]="true">
    <div class="overlay">
      <ion-img class="logo" src="../../../assets/images/app_logo.png"></ion-img>
      <span class="app_title">Find my yard</span>
      <span class="app_subtitle">Discover Your Perfect Apartment with Ease - Browse, Filter, and Connect with Landlords in Your Neighborhood</span>
      <ion-button class="action_btn" fill="solid" color="primary">Get Started</ion-button>
      <!-- <ion-button class="action_btn" fill="outline" color="primary">Login</ion-button> -->
      <ion-button class="action_btn" fill="outline" color="primary" routerLink="/">Explore</ion-button>
      <ion-text class="footer_text primary_text-color">By continuing you agree to Find My Yard's <br><span class="terms_and-privacy">Terms of Service</span> and <span class="terms_and-privacy">Privacy Policy</span></ion-text>
    </div>
</ion-content>

