<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button color="medium" (click)="cancel()">Cancel</ion-button> -->
    </ion-buttons>
    <ion-title>{{featuredApartment.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()" [strong]="true">
        <ion-icon class="cancel_icon" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-content [fullscreen]="true">
    <ion-img class="ion-margin-bottom" [src]="featuredApartment.imgUrl[0]"></ion-img>
    <div class="ion-text-center text_description-container">
      <ion-text color="secondary" class="description">{{featuredApartment.description}}</ion-text>
    </div>
  </ion-content>
</ion-header>